.menubar {
  min-width: 14rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-right: 2px solid var(--secondary-color);
}
.menubar-items {
  display: block;
  padding: 0.75rem 1rem;
  margin-right: 0.25rem;
}
.menubar-items:hover {
  background-color: var(--secondary-color);
}
.gray-bg {
  background-color: var(--secondary-color);
}
.xs-icon {
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (max-width: 850px) {
  .menubar {
    position: fixed;
    top: 2rem;
    left: -14rem;
    height: calc(100vh - 2rem);
    z-index: 2;
    background-color: var(--white);
    border: none;
    transition: all 0.3s ease-in;
  }
  .menubarToggle {
    left: 0;
    transition: all 0.3s ease-out;
  }
}
