@import url("./swift-ui-min.css");
@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap";

.videos-container {
  width: calc(100vw - 14rem);
  height: calc(100vh - 4.5rem);
  overflow-y: auto;
  margin-top: 1rem;
  padding: 0 1rem;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 15rem));
  justify-content: center;
  align-items: start;
  align-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.no-horizontal-scrolbar::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.sm-btn {
  padding: 0.25rem 0.5rem;
}

@media (max-width: 850px) {
  .videos-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .videos-container {
    margin-top: 3rem;
    height: calc(100vh - 6rem);
  }
}
